:root {
    --main-bg: #F5F3EF;
    --section-bg: #FAF9F7;
    --primary: #00AC66;
    --primary-hover: #006D41;
    --text-main: #292929;
    --text-light: #A6A6A6;
    --font-title: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;
    --border-radius: 10px;
    --box-shadow: 0px 4px 24px 0px #00000003;
}
