@charset "UTF-8";
/* Fichier SCSS principal */
/* Fichier SCSS page Home */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --main-bg: #F5F3EF;
  --section-bg: #FAF9F7;
  --primary: #00AC66;
  --primary-light: #6DC5A1;
  --primary-hover: #006D41;
  --secondary: #C56D6D;
  --red: #CB2D2D;
  --text-main: #292929;
  --text-light: #A6A6A6;
  --line-table: #EDF2F6;
  --font-title: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
  --border-radius: 10px;
  --box-shadow: 0px 4px 24px 0px #00000003;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 22px 38px;
  font-size: 16px;
  font-family: var(--font-body);
  font-weight: 600;
  border-radius: var(--border-radius);
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-hover);
}

body {
  font-family: var(--font-body);
  margin: auto;
  padding: 0;
  max-width: 1440px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--section-bg);
  color: #333;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--text-main);
  font-weight: 400;
  font-size: 14px;
}

header {
  display: flex;
  align-items: center;
  padding: 0 150px;
  height: 80px;
  background-color: var(--main-bg);
}

.logo img {
  width: 155px;
  height: 51px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-left {
  display: flex;
  gap: 44px;
  padding-left: 78px;
}

.navbar-right {
  display: flex;
  gap: 58px;
}

.fa-user,
.fa-message {
  height: 13px;
}

.message-badge {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 2px 2px;
  font-size: 14px;
  height: 15px;
  font-weight: 700;
}

.active {
  font-weight: 600;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.hero-content {
  display: flex;
  gap: 105px;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  background-color: var(--main-bg);
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 329px;
}

.hero-left h1 {
  font-family: 36px;
  font-size: 400;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  color: #000;
}

.hero-left p {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 300;
  color: #000;
  margin: 0;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  width: 404px;
  height: 539px;
}

.hero-right p {
  margin: 0;
  padding: 12px 0 100px;
  width: 404px;
  text-align: right;
  font-weight: 400;
  font-family: var(--font-body);
  font-style: italic;
  font-size: 12px;
  color: var(--text-light);
}

.last-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--section-bg);
  padding: 80px 0;
  gap: 40px;
}

.last-books h2 {
  font-family: 32px;
  font-size: 400;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
}

.last-books-list {
  display: flex;
  gap: 38px;
}

.book-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  position: relative;
  cursor: pointer;
}

.book-card .book-tag {
  display: flex;
  position: absolute;
  margin: 0;
  top: 16px;
  left: 117px;
  font-weight: 500;
  font-size: 9px;
  font-family: var(--font-body);
  color: #FFFFFF;
  background-color: var(--primary);
  padding: 4px 8px;
  border-radius: 5px;
  order: -1;
}

.book-card .book-tag-red {
  background-color: var(--secondary);
}

.book-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  order: -2;
}

.book-infos {
  padding: 0px 0 23px 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.book-infos h3 {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding-bottom: 8px;
}

.book-infos p.author {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
  padding-bottom: 22px;
}

.book-infos p.seller {
  font-family: var(--font-body);
  font-size: 10px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
}

.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 80px 0;
  background-color: var(--main-bg);
}

.functioning h2 {
  font-family: 32px;
  font-size: 400;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 24px;
}

.functioning p {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 300;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 40px;
  width: 397px;
  text-align: center;
}

.functioning-cards {
  display: flex;
  gap: 36px;
  padding-bottom: 48px;
}

.functioning-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 215px;
  height: 140px;
  text-align: center;
  padding: 0 18px;
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
}

.functioning .btn {
  background-color: transparent;
  border: var(--primary) 1px solid;
  color: var(--primary);
}

.values {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  background-color: var(--main-bg);
}

.values img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: center -293px;
  margin-bottom: 80px;
}

.values h2 {
  font-family: 32px;
  font-size: 400;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 24px;
}

.values p {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 300;
  color: var(--text-main);
  margin: 0;
  width: 392px;
  padding-bottom: 25px;
}

.values-signature {
  width: 392px;
}

.signature {
  padding-top: 14px;
  font-family: var(--font-body);
  font-size: 12px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
  font-style: italic;
}

.values-signature img {
  right: -310px;
  position: relative;
  object-fit: none;
  object-position: 0 0;
  margin: 0;
}

footer {
  display: flex;
  background-color: #FFF;
  color: var(--text-main);
  justify-content: end;
  align-items: center;
  width: 100%;
  font-size: 16px;
  gap: 40px;
}

.footer-content {
  display: flex;
  gap: 40px;
}

.footer-content a {
  color: var(--text-main);
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
  font-family: var(--font-body);
}

.logo-footer {
  padding-right: 23px;
}

/* Responsive design */
@media (max-width: 1024px) {
  header {
    padding: 0 40px;
  }
  .hero-content {
    gap: 40px;
    padding-top: 40px;
  }
  .last-books-list {
    gap: 20px;
  }
  .values-signature,
  .values p {
    width: 100%;
  }
}
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 10px;
  }
  .navbar,
  .navbar-left,
  .navbar-right {
    display: none;
  }
  .logo {
    display: block;
  }
  .fa-user,
  .fa-message {
    display: block;
  }
  /* Ajoute ici le style du menu burger si besoin */
  .hero-content {
    flex-direction: column-reverse;
    gap: 20px;
    padding-top: 20px;
  }
  .hero-right img {
    width: 100%;
    height: auto;
    max-width: 350px;
  }
  .last-books-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .book-card {
    width: 100%;
    max-width: 350px;
  }
  .book-card img {
    width: 100%;
    height: auto;
    max-width: 350px;
  }
  .functioning-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .values-signature,
  .values p {
    width: 100%;
  }
  footer {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    font-size: 14px;
  }
  .footer-content {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .hero-left h1 {
    font-size: 30px;
  }
  .last-books h2,
  .functioning h2,
  .values h2 {
    font-size: 20px;
  }
  .last-books-list {
    grid-template-columns: 1fr 1fr;
  }
  .functioning-cards {
    grid-template-columns: 1fr 1fr;
  }
  .book-card {
    max-width: 95vw;
  }
  .values-signature,
  .values p {
    max-width: 95vw;
  }
}
@media (max-width: 375px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  header {
    padding: 0 20px;
    background-color: var(--main-bg);
  }
  main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .logo img {
    width: 77.5px;
    height: 25.5px;
  }
  .menu-toggle {
    display: block;
  }
  .menu-toggle i {
    color: var(--text-light);
  }
  .navbar {
    display: none;
  }
  .navbar.menu-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    top: 60px;
    left: 0;
    width: 100vw;
    min-height: auto;
    background: var(--main-bg);
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  }
  .navbar.menu-open .navbar-left,
  .navbar.menu-open .navbar-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }
  .navbar.menu-open a {
    font-size: 18px;
    padding: 10px 0;
    width: 100%;
  }
  .hero-content {
    flex-direction: column;
    gap: 20px;
    padding-top: 0;
  }
  .hero-right {
    order: -1;
    width: 100vw;
    margin: 0;
  }
  .hero-right img {
    width: 100vw;
    margin: 0;
    max-width: 100vw;
  }
  .hero-right p {
    width: 100%;
    padding: 5px 26px 0 0;
  }
  .hero-left .btn {
    width: 100%;
    text-align: center;
    padding: 22px 0;
    margin-bottom: 48px;
  }
  .last-books {
    padding: 48px 0 80px;
    width: 100vw;
  }
  .last-books h2 {
    font-size: 28px;
    margin: 0 55px;
    padding: 0;
    text-align: center;
  }
  .last-books-list {
    grid-template-columns: 1fr 1fr;
  }
  .book-card {
    max-width: 100%;
  }
  .book-card .book-tag {
    left: 90px;
    top: 13px;
  }
  .book-card img {
    width: 160px;
    height: 160px;
  }
  .book-infos {
    padding: 0 0 18px 11px;
  }
  .book-infos h3 {
    font-size: 13px;
    padding-bottom: 6px;
  }
  .book-infos p.author {
    font-size: 11px;
    padding-bottom: 18px;
  }
  .book-infos p.seller {
    font-size: 8px;
  }
  .last-books .btn {
    display: none;
  }
  .functioning {
    padding: 48px 20px;
  }
  .functioning h2 {
    font-size: 28px;
    padding-bottom: 16px;
  }
  .functioning p {
    width: 100%;
    font-size: 14px;
    padding-bottom: 32px;
  }
  .functioning-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding-bottom: 32px;
  }
  .functioning-card {
    max-width: 100%;
    font-size: 14px;
  }
  .functioning .btn {
    width: 100%;
    text-align: center;
    padding: 22px 0;
    margin-bottom: 48px;
  }
  .values {
    align-items: start;
    padding: 0 20px;
  }
  .values img {
    width: 100vw;
    height: 425px;
    margin-bottom: 33px;
    object-position: -229px -10px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .values h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 35px;
    padding-bottom: 0;
  }
  .values p {
    width: 100%;
    font-size: 14px;
    padding-bottom: 28px;
  }
  .values-signature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 32px;
    gap: 62px;
  }
  .signature {
    font-size: 12px;
    align-self: flex-start;
  }
  .values-signature img {
    width: 120px;
    height: 105px;
    display: block;
    margin: 0 auto;
    position: static;
    align-self: center;
    object-fit: none;
    object-position: 0 0;
  }
  footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 31px 0;
    width: 100vw;
    font-size: 12px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .logo-footer {
    padding: 0;
  }
}
.connexion {
  padding: 78px 20px 100px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--section-bg);
}
.connexion h2 {
  font-family: 30px;
  font-size: 400;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  text-align: start;
}
.connexion form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.connexion form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.connexion form .form-group label {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
}
.connexion form .form-group input {
  height: 50px;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  color: var(--text-main);
  background-color: #fff;
}
.connexion form .btn {
  width: 100%;
  height: 63px;
  text-align: center;
}
.connexion form p, .connexion form p a {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
}
.connexion form p a, .connexion form p a a {
  text-decoration: underline;
}

.illustration-connexion {
  overflow: hidden;
  width: 100vw;
  height: 462px;
}
.illustration-connexion img {
  width: 100vw;
  height: 462px;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .content-login {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0;
  }
  .content-login .connexion {
    width: 50%;
    gap: 0;
    justify-content: center;
  }
  .content-login .connexion h2 {
    font-family: 36px;
    font-size: 400;
    font-weight: #000000;
    color: var(--text-main);
    margin: 0;
    margin-bottom: 56px;
    margin-left: 150px;
  }
  .content-login .connexion form {
    width: 322px;
    margin-left: 150px;
  }
  .content-login .illustration-connexion {
    width: 50%;
    margin: 0;
    height: auto;
  }
  .content-login .illustration-connexion img {
    width: 720px;
    height: 886px;
    object-fit: cover;
  }
}
.books-section-header {
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: var(--section-bg);
  padding: 0 20px;
}
.books-section-header h1 {
  font-family: 30px;
  font-size: 400;
  font-weight: #000000;
  color: var(--text-main);
  margin: 0;
  padding-top: 55px;
}
.books-section-header .search-bar-wrapper {
  position: relative;
  width: 100%;
  max-width: 335px;
  margin: 20px auto;
}
.books-section-header .search-bar-wrapper i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--text-muted);
  font-size: 18px;
  color: var(--text-light);
  pointer-events: none;
  transition: opacity 0.2s;
}
.books-section-header .search-bar-wrapper input {
  width: 100%;
  height: 55px;
  border-radius: 6px;
  border: 1px solid #F0F0F0;
  background-color: #fff;
  color: var(--text-light);
  font-size: 14px;
  padding-left: 40px;
  box-sizing: border-box;
}
.books-section-header .search-bar-wrapper input:focus + i,
.books-section-header .search-bar-wrapper input:not(:placeholder-shown) + i {
  opacity: 0;
  visibility: hidden;
}

.books-section-list {
  display: grid;
  gap: 15px;
  padding-bottom: 55px;
  max-width: 375px;
  justify-content: center;
  grid-template-columns: repeat(2, max-content);
}
.books-section-list .book-card:nth-child(odd),
.books-section-list .book-card:nth-child(even) {
  grid-column: auto;
}

@media (min-width: 1024px) {
  .books-section-header {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 130px 40px 72px;
  }
  .books-section-header h1 {
    padding-top: 0;
  }
  .books-section-header .search-bar-wrapper {
    margin: 0;
    max-width: 322px;
    height: 50px;
    align-items: center;
    display: flex;
  }
  .books-section-list {
    max-width: 1440px;
    justify-content: center;
    grid-template-columns: repeat(4, max-content);
    column-gap: 38px;
    row-gap: 48px;
    padding-bottom: 80px;
  }
  .books-section-list .book-card:nth-child(odd),
  .books-section-list .book-card:nth-child(even) {
    grid-column: auto;
  }
}
.book-navigation {
  display: none;
}

.content-book-details {
  display: flex;
  flex-direction: column;
  background-color: var(--section-bg);
  gap: 40px;
}
.content-book-details .illustration-book-detail {
  overflow: hidden;
  width: 100vw;
  height: 462px;
}
.content-book-details .illustration-book-detail img {
  width: 100vw;
  height: 462px;
  object-fit: cover;
}
.content-book-details .book-detail-infos {
  display: flex;
  flex-direction: column;
  padding: 0 20px 80px;
}
.content-book-details .book-detail-infos h1 {
  font-family: var(--font-title);
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding-bottom: 40px;
}
.content-book-details .book-detail-infos h2 {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
  padding-bottom: 32px;
}
.content-book-details .book-detail-infos hr {
  border: none;
  border-top: 1px solid var(--text-light);
  width: 27px;
  margin: 0;
  padding-bottom: 32px;
}
.content-book-details .book-detail-infos h3 {
  font-family: var(--font-body);
  font-size: 8px;
  font-weight: 600;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 16px;
}
.content-book-details .book-detail-infos p {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 40px;
}
.content-book-details .book-detail-infos .proprietaire-infos {
  display: flex;
  gap: 16px;
  background-color: #fff;
  border-radius: 114px;
  padding: 6px 17px 6px 6px;
  align-items: center;
  text-align: center;
  width: fit-content;
}
.content-book-details .book-detail-infos .proprietaire-infos .avatar {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.content-book-details .book-detail-infos .proprietaire-infos .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transform-origin: 50% 60%;
  transform: scale(2);
  display: block;
}
.content-book-details .book-detail-infos .proprietaire-infos .avatar .overlay {
  position: absolute;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0 */
  background: var(--primary);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.content-book-details .book-detail-infos .proprietaire-infos p {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
.content-book-details .book-detail-infos .btn {
  width: 100%;
  height: 63px;
  margin-top: 40px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .book-navigation {
    display: block;
    font-family: var(--font-body);
    font-size: 10px;
    font-weight: 300;
    color: var(--text-light);
    background-color: var(--main-bg);
    max-width: 1440px;
    padding: 0 150px;
    height: 44px;
    align-content: center;
  }
  .content-book-details {
    max-width: 1440px;
    margin: 0;
    flex-direction: row;
    gap: 0;
  }
  .content-book-details .illustration-book-detail {
    width: 50%;
    height: auto;
    margin: 0;
  }
  .content-book-details .illustration-book-detail img {
    width: 100%;
    height: 863px;
    object-fit: cover;
  }
  .content-book-details .book-detail-infos {
    width: 50%;
    padding: 59px 150px 0 85px;
    box-sizing: border-box;
  }
  .content-book-details .book-detail-infos h1 {
    font-family: var(--font-title);
    font-size: 36px;
    font-weight: 400;
    color: #000000;
    margin: 0;
    padding-bottom: 24px;
  }
  .content-book-details .book-detail-infos h2 {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 400;
    color: var(--text-light);
    margin: 0;
    padding-bottom: 40px;
  }
  .content-book-details .book-detail-infos h3 {
    font-family: var(--font-body);
    font-size: 8px;
    font-weight: 600;
    color: var(--text-main);
    margin: 0;
    padding-bottom: 16px;
  }
  .content-book-details .book-detail-infos p {
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 400;
    color: var(--text-main);
    margin: 0;
    padding-bottom: 40px;
  }
  .content-book-details .book-detail-infos .proprietaire-infos {
    /* ========== HOVER : quand on survole tout le bloc proprietaire-infos ========== */
  }
  .content-book-details .book-detail-infos .proprietaire-infos:hover .overlay {
    opacity: 0.3;
    /* voile légère — ajuste entre 0.08 et 0.2 selon l'effet désiré */
  }
  .content-book-details .book-detail-infos .proprietaire-infos:hover p {
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
    margin: 0;
  }
  .content-book-details .book-detail-infos .btn {
    width: 485px;
    padding: 0 38px;
  }
}
.content-account {
  padding: 78px 20px 62px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.content-account h1 {
  font-family: var(--font-title);
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding-bottom: 8px;
}
.content-account .account-infos-group {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.content-account .account-infos-group .account-infos {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-account .account-infos-group .account-infos img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 48px;
  margin-bottom: 5px;
}
.content-account .account-infos-group .account-infos button {
  text-decoration: underline;
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
  padding-bottom: 96px;
  border: none;
  background: none;
  cursor: pointer;
}
.content-account .account-infos-group .account-infos h2 {
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 11px;
}
.content-account .account-infos-group .account-infos .account-during {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
  padding-bottom: 21px;
}
.content-account .account-infos-group .account-infos h3 {
  font-family: var(--font-body);
  font-size: 8px;
  font-weight: 600;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 6px;
}
.content-account .account-infos-group .account-infos .books-numbers {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 36px;
}
.content-account .account-infos-group .personal-infos {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 32px 48px;
  box-sizing: border-box;
}
.content-account .account-infos-group .personal-infos p {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 22px;
  width: 100%;
}
.content-account .account-infos-group .personal-infos form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
.content-account .account-infos-group .personal-infos form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.content-account .account-infos-group .personal-infos form .form-group label {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
}
.content-account .account-infos-group .personal-infos form .form-group input {
  height: 50px;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  color: var(--text-main);
  background-color: #EDF2F6;
  padding: 0 15px;
}
.content-account .account-infos-group .personal-infos form .btn {
  width: 100%;
  height: 63px;
  text-align: center;
  background-color: var(--main-bg);
  color: var(--primary);
  border: 1px solid var(--primary);
}
.content-account .account-infos-group .personal-infos form .btn:hover {
  background-color: var(--primary);
  color: white;
  border: none;
}
.content-account .account-books-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 375px;
  justify-content: center;
}
.content-account .account-books-list .account-book-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 52px 56px;
  background-color: white;
  border: 1px solid var(--main-bg);
  border-radius: 20px;
  box-sizing: border-box;
}
.content-account .account-books-list .account-book-card .account-book-infos {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.content-account .account-books-list .account-book-card .account-book-infos img {
  width: 79px;
  height: 79px;
  object-fit: cover;
}
.content-account .account-books-list .account-book-card .account-book-infos .account-book-details {
  display: flex;
  flex-direction: column;
}
.content-account .account-books-list .account-book-card .account-book-infos .account-book-details p {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  font-style: normal;
}
.content-account .account-books-list .account-book-card .account-book-infos .account-book-details .tag {
  font-family: var(--font-body);
  font-size: 9px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0;
  background-color: var(--primary-light);
  padding: 4px 13px;
  border-radius: 30px;
  width: fit-content;
  margin-top: 16px;
}
.content-account .account-books-list .account-book-card p {
  max-width: 220px;
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  margin: 21px 0 43px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  font-style: italic;
}
.content-account .account-books-list .account-book-card .account-book-actions {
  display: flex;
  flex-direction: row;
  gap: 43px;
  padding-left: 5px;
}
.content-account .account-books-list .account-book-card .account-book-actions a {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  text-decoration: underline;
}
.content-account .account-books-list .account-book-card .account-book-actions .account-book-delete {
  color: var(--red);
}
.content-account .account-books-table {
  display: none;
}

@media (min-width: 1024px) {
  .content-account {
    max-width: 1440px;
    margin: 0 150px;
    padding: 90px 0px 102px;
  }
  .content-account h1 {
    font-size: 40px;
    padding-bottom: 16px;
  }
  .content-account .account-infos-group {
    flex-direction: row;
    gap: 33px;
    align-items: stretch;
  }
  .content-account .account-infos-group .account-infos,
  .content-account .account-infos-group .personal-infos {
    flex: 1;
    width: 50%;
    height: auto;
  }
  .content-account .account-infos-group .account-infos {
    padding: 38px 116px;
    align-items: center;
  }
  .content-account .account-infos-group .account-infos .books-numbers {
    padding-bottom: 48px;
  }
  .content-account .account-infos-group .personal-infos {
    padding: 38px 116px;
  }
  .content-account .account-infos-group .personal-infos form .btn {
    width: fit-content;
  }
  .content-account .account-books-list {
    display: none;
  }
  .content-account .account-books-table {
    display: block;
  }
  .content-account .account-books-table table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border-collapse: collapse;
  }
  .content-account .account-books-table table thead tr {
    height: 45px;
    vertical-align: middle;
    text-align: center;
    background-color: white;
  }
  .content-account .account-books-table table th,
  .content-account .account-books-table table td {
    height: 60px;
    vertical-align: middle;
    padding: 0;
    text-align: left;
    width: 100px;
  }
  .content-account .account-books-table table td {
    text-align: center;
    font-family: var(--font-body);
    font-size: 12px;
    font-weight: 400;
    color: var(--text-main);
    margin: 0;
    padding: 26px 0 26px 0;
  }
  .content-account .account-books-table table th {
    height: 55px;
    background-color: white;
    font-family: var(--font-body);
    font-size: 8px;
    font-weight: 600;
    color: var(--text-main);
    margin: 0;
    vertical-align: bottom;
    border-bottom: 1px solid var(--main-bg);
    padding-bottom: 8px;
  }
  .content-account .account-books-table table tbody tr:nth-child(even) {
    background-color: #EDF2F6;
  }
  .content-account .account-books-table table td:nth-child(1),
  .content-account .account-books-table table th:nth-child(1) {
    width: 55px;
  }
  .content-account .account-books-table table th:nth-child(1),
  .content-account .account-books-table table td:nth-child(1) {
    text-align: center;
  }
  .content-account .account-books-table table img {
    width: 78px;
    height: 78px;
    object-fit: cover;
  }
  .content-account .account-books-table table td:nth-child(6),
  .content-account .account-books-table table th:nth-child(6) {
    width: 170px;
  }
  .content-account .account-books-table table td:nth-child(6) {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding-top: 37px;
  }
  .content-account .account-books-table table td:nth-child(4),
  .content-account .account-books-table table th:nth-child(4) {
    width: 180px;
  }
  .content-account .account-books-table table .description-cell {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    padding: 0 10px;
    top: -20px;
    position: relative;
  }
  .content-account .account-books-table table a {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 400;
    color: var(--text-main);
    margin: 0;
    text-decoration: underline;
  }
  .content-account .account-books-table table .account-book-delete {
    color: var(--red);
  }
  .content-account .account-books-table table .tag {
    font-family: var(--font-body);
    font-size: 9px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0;
    background-color: var(--primary-light);
    padding: 4px 13px;
    border-radius: 30px;
    width: fit-content;
    margin-top: 16px;
  }
}
.content-public-account {
  padding: 78px 20px 62px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.content-public-account h1 {
  font-family: var(--font-title);
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding-bottom: 8px;
}
.content-public-account .public-account-infos-group {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.content-public-account .public-account-infos-group .public-account-infos {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-public-account .public-account-infos-group .public-account-infos img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 48px;
  margin-bottom: 5px;
}
.content-public-account .public-account-infos-group .public-account-infos a {
  text-decoration: underline;
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
  padding-bottom: 96px;
}
.content-public-account .public-account-infos-group .public-account-infos hr {
  width: 242px;
  border: none;
  border-top: 1px solid var(--main-bg);
  margin-bottom: 48px;
}
.content-public-account .public-account-infos-group .public-account-infos h2 {
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 11px;
}
.content-public-account .public-account-infos-group .public-account-infos .public-account-during {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
  padding-bottom: 21px;
}
.content-public-account .public-account-infos-group .public-account-infos h3 {
  font-family: var(--font-body);
  font-size: 8px;
  font-weight: 600;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 6px;
}
.content-public-account .public-account-infos-group .public-account-infos .books-numbers {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  padding-bottom: 36px;
}
.content-public-account .public-account-infos-group .public-account-infos .btn {
  width: fit-content;
  height: 63px;
  text-align: center;
  background-color: var(--main-bg);
  color: var(--primary);
  border: 1px solid var(--primary);
  margin-bottom: 56px;
}
.content-public-account .public-account-infos-group .public-account-infos .btn:hover {
  background-color: var(--primary);
  color: white;
  border: none;
}
.content-public-account .public-account-books-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 375px;
  justify-content: center;
}
.content-public-account .public-account-books-list .public-account-book-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 52px 56px;
  background-color: white;
  border: 1px solid var(--main-bg);
  border-radius: 20px;
  box-sizing: border-box;
}
.content-public-account .public-account-books-list .public-account-book-card .public-account-book-infos {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.content-public-account .public-account-books-list .public-account-book-card .public-account-book-infos img {
  width: 79px;
  height: 79px;
  object-fit: cover;
}
.content-public-account .public-account-books-list .public-account-book-card .public-account-book-infos .public-account-book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-public-account .public-account-books-list .public-account-book-card .public-account-book-infos .public-account-book-details p {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  font-style: normal;
}
.content-public-account .public-account-books-list .public-account-book-card .public-account-book-infos .public-account-book-details .tag {
  font-family: var(--font-body);
  font-size: 9px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0;
  background-color: var(--primary-light);
  padding: 4px 13px;
  border-radius: 30px;
  width: fit-content;
  margin-top: 16px;
}
.content-public-account .public-account-books-list .public-account-book-card p {
  max-width: 220px;
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  margin: 21px 0 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  font-style: italic;
}
.content-public-account .public-account-books-list .public-account-book-card .public-account-book-actions {
  display: flex;
  flex-direction: row;
  gap: 43px;
  padding-left: 5px;
}
.content-public-account .public-account-books-list .public-account-book-card .public-account-book-actions a {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  text-decoration: underline;
}
.content-public-account .public-account-books-list .public-account-book-card .public-account-book-actions .public-account-book-delete {
  color: var(--red);
}
.content-public-account .public-account-books-table {
  display: none;
}

@media (min-width: 1024px) {
  .content-public-account {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 90px 150px 102px;
    display: flex;
    flex-direction: row;
  }
  .content-public-account .public-account-infos-group {
    width: 28%;
    flex-direction: row;
    gap: 33px;
    align-items: stretch;
  }
  .content-public-account .public-account-infos-group .public-account-infos {
    flex: 1;
    width: 50%;
    height: auto;
    padding: 38px 116px;
    align-items: center;
    box-sizing: border-box;
  }
  .content-public-account .public-account-infos-group .public-account-infos .books-numbers {
    padding-bottom: 48px;
  }
  .content-public-account .public-account-infos-group .public-account-infos .btn {
    width: max-content;
  }
  .content-public-account .public-account-books-list {
    display: none;
  }
  .content-public-account .public-account-books-table {
    display: block;
    width: 49%;
  }
  .content-public-account .public-account-books-table table {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border-collapse: collapse;
  }
  .content-public-account .public-account-books-table table thead {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .content-public-account .public-account-books-table table thead tr {
    height: 45px;
    vertical-align: middle;
    text-align: center;
    background-color: white;
  }
  .content-public-account .public-account-books-table table th,
  .content-public-account .public-account-books-table table td {
    height: 60px;
    vertical-align: middle;
    padding: 0;
    text-align: left;
    width: 100px;
  }
  .content-public-account .public-account-books-table table td {
    font-family: var(--font-body);
    font-size: 12px;
    font-weight: 400;
    color: var(--text-main);
    margin: 0;
    padding: 26px 0 26px 0;
  }
  .content-public-account .public-account-books-table table th {
    height: 55px;
    background-color: white;
    font-family: var(--font-body);
    font-size: 8px;
    font-weight: 600;
    color: var(--text-main);
    margin: 0;
    vertical-align: bottom;
    border-bottom: 1px solid var(--main-bg);
    padding-bottom: 8px;
  }
  .content-public-account .public-account-books-table table tbody tr:nth-child(even) {
    background-color: #EDF2F6;
  }
  .content-public-account .public-account-books-table table td:nth-child(1),
  .content-public-account .public-account-books-table table th:nth-child(1) {
    width: 55px;
  }
  .content-public-account .public-account-books-table table th:nth-child(1),
  .content-public-account .public-account-books-table table td:nth-child(1) {
    text-align: center;
  }
  .content-public-account .public-account-books-table table img {
    width: 78px;
    height: 78px;
    object-fit: cover;
  }
  .content-public-account .public-account-books-table table td:nth-child(4),
  .content-public-account .public-account-books-table table th:nth-child(4) {
    width: 180px;
  }
  .content-public-account .public-account-books-table table .description-cell {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    padding: 0 10px;
    top: 37px;
    position: relative;
    font-style: italic;
  }
  .content-public-account .public-account-books-table table a {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 400;
    color: var(--text-main);
    margin: 0;
    text-decoration: underline;
  }
  .content-public-account .public-account-books-table table .public-account-book-delete {
    color: var(--red);
  }
  .content-public-account .public-account-books-table table .tag {
    font-family: var(--font-body);
    font-size: 9px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0;
    background-color: var(--primary-light);
    padding: 4px 13px;
    border-radius: 30px;
    width: fit-content;
    margin-top: 16px;
  }
}
.content-book-edit .book-edit-navigation {
  font-family: var(--font-body);
  font-size: 10px;
  font-weight: 300;
  color: var(--text-light);
  max-width: 1440px;
  padding: 54px 0 7px 20px;
  align-content: center;
}
.content-book-edit .content-book-edit-form {
  margin-bottom: 80px;
}
.content-book-edit .content-book-edit-form h1 {
  font-family: var(--font-title);
  font-size: 30px;
  font-weight: 400;
  color: black;
  margin: 0;
  padding-left: 20px;
  width: 271px;
}
.content-book-edit .content-book-edit-form form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 20px;
  background-color: white;
  max-width: 375px;
  padding: 42px 20px 47px;
  margin-top: 35px;
}
.content-book-edit .content-book-edit-form form .form-group-fields {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.content-book-edit .content-book-edit-form form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-book-edit .content-book-edit-form form .form-group img {
  width: 335px;
  height: 335px;
  object-fit: cover;
}
.content-book-edit .content-book-edit-form form .form-group label {
  font-family: var(--font-body);
  font-size: 11px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
}
.content-book-edit .content-book-edit-form form .form-group #book-edit-photo-btn {
  text-decoration: underline;
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  padding: 0;
  margin-top: 25px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: end;
}
.content-book-edit .content-book-edit-form form .form-group input,
.content-book-edit .content-book-edit-form form .form-group textarea {
  width: 335px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #F0F0F0;
  background-color: var(--line-table);
  color: var(--text-main);
  font-size: 14px;
  padding-left: 15px;
  box-sizing: border-box;
}
.content-book-edit .content-book-edit-form form .form-group textarea {
  height: 433px;
  padding-top: 16px;
  padding-right: 23px;
  resize: none;
  box-sizing: border-box;
  text-align: left;
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
}
.content-book-edit .content-book-edit-form form .form-group .select-wrapper {
  position: relative;
  width: 335px;
}
.content-book-edit .content-book-edit-form form .form-group .select-wrapper .select-custom {
  padding-right: 32px;
  appearance: none;
  box-sizing: border-box;
  width: 335px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #F0F0F0;
  background-color: var(--line-table);
  color: var(--text-main);
  font-size: 14px;
  padding-left: 15px;
}
.content-book-edit .content-book-edit-form form .form-group .select-wrapper .fa {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--text-main);
  font-size: 16px;
}
.content-book-edit .content-book-edit-form form .btn {
  width: 100%;
}

@media (min-width: 1024px) {
  .content-book-edit {
    max-width: 1440px;
    margin: auto;
    padding: 0 150px;
  }
  .content-book-edit .book-edit-navigation {
    padding: 40px 0 23px;
  }
  .content-book-edit .content-book-edit-form h1 {
    width: 100%;
    padding-left: 0;
  }
  .content-book-edit .content-book-edit-form form {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 56px 50px 68px;
    gap: 118px;
  }
  .content-book-edit .content-book-edit-form form .form-group-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .content-book-edit .content-book-edit-form form .form-group-img img {
    width: 488px;
    height: 488px;
    object-fit: cover;
  }
  .content-book-edit .content-book-edit-form form .form-group-img label {
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 400;
    color: var(--text-light);
    margin: 0;
  }
  .content-book-edit .content-book-edit-form form .form-group-img #book-edit-photo-btn {
    width: 100%;
    display: block;
    justify-content: flex-end;
    text-align: end;
    align-items: flex-end;
    font-family: var(--font-body);
    font-size: 12px;
    font-weight: 400;
    color: var(--text-main);
    margin: 0;
    margin-top: 23px;
  }
  .content-book-edit .content-book-edit-form form .form-group-fields {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
  }
  .content-book-edit .content-book-edit-form form .form-group-fields label {
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 400;
    color: var(--text-light);
    margin: 0;
  }
  .content-book-edit .content-book-edit-form form .form-group-fields input,
  .content-book-edit .content-book-edit-form form .form-group-fields textarea,
  .content-book-edit .content-book-edit-form form .form-group-fields .select-wrapper {
    width: 100%;
  }
  .content-book-edit .content-book-edit-form form .form-group-fields .select-wrapper .select-custom {
    width: 100%;
  }
  .content-book-edit .content-book-edit-form form .form-group-fields .btn {
    width: 322px;
  }
}
.messages-container {
  margin: 0;
  background-color: var(--section-bg);
  padding: 55px 20px 0;
  flex: 1;
}
.messages-container h1 {
  font-family: var(--font-title);
  font-size: 26px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 48px;
}
.messages-container .messages-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.messages-container .messages-list .message-card {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 80px;
}
.messages-container .messages-list .message-card img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.messages-container .messages-list .message-card .message-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.messages-container .messages-list .message-card .message-infos .message-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.messages-container .messages-list .message-card .message-infos .message-details .message-username {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  margin-bottom: 5px;
}
.messages-container .messages-list .message-card .message-infos .message-details .message-time {
  font-family: var(--font-body);
  font-size: 12px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  white-space: nowrap;
  margin-left: 70px;
}
.messages-container .messages-list .message-card .message-infos .last-message {
  font-family: var(--font-body);
  font-size: 12px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 172px;
}
.messages-container .messages-list hr {
  border: none;
  border-top: 1px solid white;
  width: 100%;
  margin: 0;
}
.messages-container .conversation-content {
  display: none;
}
.messages-container .conversation-content .btn-retour {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 300;
  color: var(--text-light);
  max-width: 1440px;
  align-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 11px;
}
.messages-container .conversation-content .conversation-placeholder {
  color: var(--text-light);
  font-size: 18px;
  text-align: center;
  margin-top: 120px;
}
.messages-container .conversation-content .conversation-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}
.messages-container .conversation-content .conversation-details .conversation-header {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.messages-container .conversation-content .conversation-details .conversation-header img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.messages-container .conversation-content .conversation-details .conversation-header .conversation-username {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 600;
  color: var(--text-main);
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
}
.messages-container .conversation-content .conversation-details .conversation-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 60vh;
  overflow-y: auto;
  flex: 1;
}
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-recipient,
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-recipient .conversation-time,
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .conversation-time {
  font-family: var(--font-body);
  font-size: 12px;
  font-weight: 400;
  color: var(--text-light);
  margin: 0;
  white-space: nowrap;
}
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-recipient .conversation-message,
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .conversation-message {
  font-family: var(--font-body);
  font-size: 12px;
  font-weight: 400;
  color: var(--text-main);
  margin: 0;
  padding: 10px 18px;
  border-radius: 3px;
  max-width: 261px;
  overflow-wrap: break-word;
}
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-recipient {
  align-items: flex-end;
  margin-bottom: 36px;
}
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-recipient .conversation-message {
  background-color: var(--line-table);
  color: var(--text-main);
}
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender {
  align-items: flex-start;
  margin-bottom: 73px;
}
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .sender {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .sender img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .sender .conversation-time {
  display: flex;
  align-items: center;
}
.messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .conversation-message {
  background-color: white;
  color: var(--text-main);
}
.messages-container .conversation-content .conversation-details .message-form {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 42px;
}
.messages-container .conversation-content .conversation-details .message-form input {
  width: 335px;
  height: 49px;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
}
.messages-container .conversation-content .conversation-details .message-form .btn {
  width: 100%;
  height: 49px;
  padding: 15px 35px;
}

@media (min-width: 1024px) {
  .messages-container {
    display: flex;
    min-height: calc(100vh - 52px - 80px);
    background: var(--main-bg);
    padding: 0 150px;
    box-sizing: border-box;
    flex: 1;
  }
  .messages-container .messages-list {
    flex: 1;
    width: 308px;
    min-width: 308px;
    max-width: 308px;
    border-right: 1px solid #eee;
    overflow-y: auto;
    max-height: 100vh;
    height: auto;
    padding: 0;
    background-color: var(--section-bg);
  }
  .messages-container .messages-list h1 {
    padding: 55px 0 0px 34px;
    margin-bottom: 27px;
  }
  .messages-container .messages-list .message-card {
    padding: 18px 42px 18px 34px;
    cursor: pointer;
  }
  .messages-container .messages-list .message-card:hover {
    background-color: #fff;
  }
  .messages-container .messages-list hr {
    display: none;
  }
  .messages-container .conversation-content {
    display: block;
    flex: 1;
    padding: 35px 0 0 44px;
    overflow-y: auto;
    max-height: 100vh;
    height: auto;
  }
  .messages-container .conversation-content .btn-retour {
    display: none;
  }
  .messages-container .conversation-content .conversation-placeholder {
    color: var(--text-light);
    font-size: 18px;
    text-align: center;
    margin-top: 120px;
  }
  .messages-container .conversation-content .conversation-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
  }
  .messages-container .conversation-content .conversation-details .conversation-header {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .messages-container .conversation-content .conversation-details .conversation-header img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  .messages-container .conversation-content .conversation-details .conversation-header .conversation-username {
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 600;
    color: var(--text-main);
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .messages-container .conversation-content .conversation-details .conversation-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 60vh;
    overflow-y: auto;
    flex: 1;
  }
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-recipient,
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-recipient .conversation-time,
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .conversation-time {
    font-family: var(--font-body);
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light);
    margin: 0;
    white-space: nowrap;
  }
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-recipient .conversation-message,
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .conversation-message {
    font-family: var(--font-body);
    font-size: 12px;
    font-weight: 400;
    color: var(--text-main);
    margin: 0;
    padding: 10px 18px;
    border-radius: 3px;
    max-width: 500px;
    overflow-wrap: break-word;
  }
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-recipient {
    align-items: flex-end;
  }
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-recipient .conversation-message {
    background-color: var(--line-table);
    color: var(--text-main);
  }
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender {
    align-items: flex-start;
    margin-bottom: 98px;
  }
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .sender {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .sender img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .sender .conversation-time {
    display: flex;
    align-items: center;
  }
  .messages-container .conversation-content .conversation-details .conversation-messages .conversation-sender .conversation-message {
    background-color: white;
    color: var(--text-main);
  }
  .messages-container .conversation-content .conversation-details .message-form {
    display: flex;
    flex-direction: row;
    gap: 21px;
    margin-bottom: 98px;
  }
  .messages-container .conversation-content .conversation-details .message-form input {
    width: 628px;
    height: 49px;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
  }
  .messages-container .conversation-content .conversation-details .message-form .btn {
    width: fit-content;
    height: 49px;
    padding: 15px 35px;
  }
}

/*# sourceMappingURL=style.css.map */
